@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&display=swap'); 

#clock-container {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#clock {
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    color: rgba(255, 255, 255, 0.8);
    font-family: "Oswald", "Helvetica", sans-serif; 
    font-weight: 600;
    font-size: 12rem;
}

#greeting {
    color: rgba(255, 255, 255, 0.8);
    font-family: "Oswald", "Helvetica", sans-serif;
    font-size: 3rem;
    font-weight: 500;
    margin-top: 16px; 
}

#name-input {
    transform: translateX(0);
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2rem; 
    padding: 10px; 
    border: 2px solid #ccc;
    border-radius: 5px; 
    background: transparent; 
    color: rgba(255, 255, 255, 0.8);
    border: none;
    border-bottom: 4px solid rgba(255, 255, 255, 0.8);
    text-align: center;
}

#name-input::placeholder {
    color: rgba(255, 255, 255, 0.8);
    text-align: center;
}

#name-input:focus {
    outline: none;
}